[mysql]

# CLIENT #
port                            = 3306
socket                          = /tmp/mysql.sock

[mysqld]

# GENERAL #
port                            = 3306
user                            = mysql
default-storage-engine          = InnoDB
socket                          = /tmp/mysql.sock
datadir                         = /usr/local/mysql/data
pid-file                        = /usr/local/mysql/data/mysql.pid
sql_mode                        = NO_AUTO_CREATE_USER
skip-name-resolve
skip-external-locking

# INNODB #
collation-server                = utf8mb4_unicode_ci
character-set-server            = utf8mb4
innodb-file-per-table           = 1
innodb-flush-log-at-trx-commit  = 0
skip-character-set-client-handsake

# CACHES AND LIMITS #
tmp-table-size                  = 1G
max-connections                 = 1000

# SAFETY #
max-allowed-packet              = 16M
max-connect-errors              = 1000000


[mysqld_safe]
log-error=/var/local/mysql/data/mysql-error.log
#pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
#!includedir /etc/my.cnf.d